---
layout: base
tags: prefetch
---

<div
  class="welcome"
  style="
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
  "
>
  <h1>I am <span>funstra</span></h1>
  <p>
    Designing Engineering <strong>&&</strong>
    <span style="white-space: nowrap"> Information Designing</span> <br />
    Algorithmic UI <strong style="margin-right: 0">&&</strong>
    <span style="letter-spacing: 0.1ch">Markup</span><span>&eqcolon;</span
    ><span style="color: hsl(var(--ter))"
      >Love
      <span
        style="
          color: red;
          vertical-align: middle;
          transform: scaleY(0.75);
          display: inline-block;
        "
        >&heartsuit;</span
      ></span
    >
  </p>
</div>
