---
layout: base
tags: prefetch
---

<article data-page="works" style="width: min(45rem, 100%); margin: 0 auto">
  <ol class="works | vertical" style="">
    {% for work in works %}
      <li style="flex-shrink: 0; overflow: hidden">
        <article>
          <h2>{{ work.title }}</h2>
          <p>{{ work.desc | safe }}</p>
          {% if work.img %}
            {% if build.env == 'production' %}
              {% image 'img/works',
              work.img,
              '' %}
            {% else %}
              <img src="/assets/img/works/{{ work.img }}" alt=""/>
            {% endif %}
          {% elseif work.vid %}
            <video autoplay loop src="/assets/vid/works/{{ work.vid }}"></video>
          {% endif %}
          <q>{{ work.q }}</q>
          <button>more!</button>
        </article>
      </li>

    {% endfor %}
  </ol>
</article>