<div
  class="{{'horizontal' if not ishome else ''}} "
  style="flex-wrap: wrap; --space-mult: 1; position: relative"
  data-page="{{'/' if ishome else ''}}"
>
  <main
    class="{ inset }"
    p:wrapper
    style="flex-grow: 1; flex-basis: min(50rem, 90%)"
  >
    {{ content | safe }}
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 100% 100%"
      preserveAspectRatio="xMidYMid"
      style="
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        mix-blend-mode: exclusion;
        z-index: 10;
      "
      abstract:entity="gaze"
    >
      <!-- <line x1="50%" y1="50%" x2="50%" y2="50%" stroke-width="4" stroke="black" /> -->
      <path
        d="
  M512,512
  A1,1 0 0 0 512,512
  "
        fill="transparent"
        stroke="black"
        stroke-width="4"
      />
      <!-- <circle stroke="transparent" cx="0" cy="0" r="4" fill="white"/> -->
    </svg>
  </main>
  {% if not ishome %}
  <div
    data-abstraction=""
    style="
      align-self: flex-start;
      flex-basis: 200px;
      flex-grow: 2;
      position: sticky;
      top: 0;
      left: 0;
      height: 100%;
      order: 1;
    "
  >
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 1024 100%"
      preserveAspectRatio="xMidYMid"
    >
      <rect width="100%" height="100%" fill="hsl(var(--blk))" rx="5" />
      <circle cx="50%" cy="50%" r="5%" fill="hsl(var(--wht))" />
    </svg>
  </div>
  {% endif %}
</div>
{#
<main
  class="{{'horizontal' if not ishome else ''}} "
  style="flex-wrap: wrap"
  data-page="{{'/' if ishome else ''}}"
>
  <div
    class="{ inset }"
    p:wrapper
    style="height: auto; flex-grow: 1; flex-basis: min(50rem, 90%)"
  >
    {{ content | safe }}
  </div>
  {% if not ishome %}
  <div
    data-abstraction=""
    style="
      align-self: flex-start;
      flex-basis: 0;
      flex-grow: 2;
      position: sticky;
      top: 0;
      left: 0;
      height: 100%;
      order: 1;
    "
  >
    <svg
      style="--y: 0"
      width="100%"
      height="100%"
      viewBox="0 0 1024 100%"
      preserveAspectRatio="xMidYMin"
    >
      <rect width="100%" height="100%" />
      <circle cx="50%" cy="var(--y,50%)" r="32" fill="hsl(var(--wht))" />
    </svg>
  </div>
  {% endif %}
</main>
#}
